<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Demo</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Demo</display-name>
		<servlet-name>Demo</servlet-name>
		<servlet-class>Demo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PostParameterServlet</display-name>
		<servlet-name>PostParameterServlet</servlet-name>
		<servlet-class>PostParameterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PostParametersServlet</display-name>
		<servlet-name>PostParametersServlet</servlet-name>
		<servlet-class>PostParametersServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PostParameter</display-name>
		<servlet-name>PostParameter</servlet-name>
		<servlet-class>PostParameter</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PostParametern</display-name>
		<servlet-name>PostParametern</servlet-name>
		<servlet-class>PostParametern</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xii_21</display-name>
		<servlet-name>xii_21</servlet-name>
		<servlet-class>xii_21</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xiii2_21</display-name>
		<servlet-name>xiii2_21</servlet-name>
		<servlet-class>xiii2_21</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>X_21</display-name>
		<servlet-name>X_21</servlet-name>
		<servlet-class>X_21</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>X_22</display-name>
		<servlet-name>X_22</servlet-name>
		<servlet-class>X_22</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_24_Userp</display-name>
		<servlet-name>PR_24_Userp</servlet-name>
		<servlet-class>PR_24_Userp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_24_Userp2</display-name>
		<servlet-name>PR_24_Userp2</servlet-name>
		<servlet-class>PR_24_Userp2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_24_xiii_2</display-name>
		<servlet-name>PR_24_xiii_2</servlet-name>
		<servlet-class>PR_24_xiii_2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_23_X_1</display-name>
		<servlet-name>PR_23_X_1</servlet-name>
		<servlet-class>PR_23_X_1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_23_X_2</display-name>
		<servlet-name>PR_23_X_2</servlet-name>
		<servlet-class>PR_23_X_2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_23_Xiii_1</display-name>
		<servlet-name>PR_23_Xiii_1</servlet-name>
		<servlet-class>PR_23_Xiii_1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_23_xiii_2</display-name>
		<servlet-name>PR_23_xiii_2</servlet-name>
		<servlet-class>PR_23_xiii_2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_24_X_1</display-name>
		<servlet-name>PR_24_X_1</servlet-name>
		<servlet-class>PR_24_X_1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>cookie2ndprog</display-name>
		<servlet-name>cookie2ndprog</servlet-name>
		<servlet-class>cookie2ndprog</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_22_X_1</display-name>
		<servlet-name>PR_22_X_1</servlet-name>
		<servlet-class>PR_22_X_1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_22_Xiii_1</display-name>
		<servlet-name>PR_22_Xiii_1</servlet-name>
		<servlet-class>PR_22_Xiii_1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_22_xiii_2</display-name>
		<servlet-name>PR_22_xiii_2</servlet-name>
		<servlet-class>PR_22_xiii_2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PR_22_X_2</display-name>
		<servlet-name>PR_22_X_2</servlet-name>
		<servlet-class>PR_22_X_2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/Demo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostParameterServlet</servlet-name>
		<url-pattern>/PostParameterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostParametersServlet</servlet-name>
		<url-pattern>/PostParametersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostParameter</servlet-name>
		<url-pattern>/PostParameter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostParametern</servlet-name>
		<url-pattern>/PostParametern</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xii_21</servlet-name>
		<url-pattern>/xii_21</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xiii2_21</servlet-name>
		<url-pattern>/xiii2_21</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>X_21</servlet-name>
		<url-pattern>/X_21</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>X_22</servlet-name>
		<url-pattern>/X_22</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_24_Userp</servlet-name>
		<url-pattern>/PR_24_Userp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_24_Userp2</servlet-name>
		<url-pattern>/PR_24_Userp2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_24_xiii_2</servlet-name>
		<url-pattern>/PR_24_xiii_2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_23_X_1</servlet-name>
		<url-pattern>/PR_23_X_1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_23_X_2</servlet-name>
		<url-pattern>/PR_23_X_2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_23_Xiii_1</servlet-name>
		<url-pattern>/PR_23_Xiii_1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_23_xiii_2</servlet-name>
		<url-pattern>/PR_23_xiii_2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_24_X_1</servlet-name>
		<url-pattern>/PR_24_X_1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cookie2ndprog</servlet-name>
		<url-pattern>/cookie2ndprog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_22_X_1</servlet-name>
		<url-pattern>/PR_22_X_1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_22_Xiii_1</servlet-name>
		<url-pattern>/PR_22_Xiii_1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_22_xiii_2</servlet-name>
		<url-pattern>/PR_22_xiii_2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PR_22_X_2</servlet-name>
		<url-pattern>/PR_22_X_2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
